= render './header'
.panel
  %h1 User
  - if flash.present?
    - flash.each do |status, msg|
      .row
        .medium-8.columns.alert-box{ class: "#{status} radius", data:{ alert: '' } }
          = msg
          .right=link_to '&times;'.html_safe, '#', class: 'close'
  %table
    %thead
      %tr
        %th
          name
        %th
          email
    %tbody
      %tr
        %td
          = @user.name
        %td
          = @user.email
        %td
          =link_to 'Back', users_path
        %td
          =link_to 'Edit', edit_user_path(@user)
        %td
          =link_to 'Delete', user_path(@user), method: :delete











